@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800");

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #11998e;
  background: -moz-linear-gradient(left, #11998e 0%, #38ef7d 100%);
  background: -webkit-linear-gradient(left, #11998e 0%, #38ef7d 100%);
  background: linear-gradient(to right, #11998e 0%, #38ef7d 100%);
}
